n8n/workflow-digitization-qc.json
{
  "name": "Collections Digitization QC Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "/data/incoming",
        "events": [
          "add"
        ],
        "options": {}
      },
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-service:8000/predict",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "responseFormat": "json",
          "fullResponse": true,
          "ignoreResponseCode": true
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "x-api-token",
              "value": "={{ $env.MODEL_API_TOKEN }}"
            }
          ]
        }
      },
      "name": "AI Model Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "name": "API OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$json[\"body\"][\"quality\"]}}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      },
      "name": "Quality Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "={{ $env.AIRTABLE_TABLE_NAME }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object ID": "={{ $binary.data.fileName.split('.')[0] }}",
            "File name": "={{ $binary.data.fileName }}",
            "File path or URL": "={{ $binary.data.filePath }}",
            "Status": "QC Passed",
            "Quality": "={{ $json.body.quality }}",
            "Quality score": "={{ $json.body.score }}",
            "Defects (text summary)": "={{ Array.isArray($json.body.reasons) ? $json.body.reasons.join(', ') : '' }}",
            "Finger in frame": "={{ $json.body.defects.finger_in_frame }}",
            "Skew (degrees)": "={{ $json.body.defects.skew_degrees }}",
            "Blur level": "={{ $json.body.defects.blur }}",
            "Glare present": "={{ $json.body.defects.glare }}",
            "Cutoff edges": "={{ $json.body.defects.cutoff_edges }}",
            "AI Analysis Report": "={{ $json.body.rich_text_report }}",
            "Tags": "={{ $json.body.semantic_tags }}"
          }
        }
      },
      "name": "Airtable (passed)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "={{ $env.AIRTABLE_TABLE_NAME }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object ID": "={{ $binary.data.fileName.split('.')[0] }}",
            "File name": "={{ $binary.data.fileName }}",
            "File path or URL": "={{ $binary.data.filePath }}",
            "Status": "QC Failed – Needs Review",
            "Quality": "={{ $json.body?.quality || 'low' }}",
            "Quality score": "={{ $json.body?.score || 0 }}",
            "Defects (text summary)": "={{ Array.isArray($json.body?.reasons) ? $json.body.reasons.join(', ') : 'AI call failed (status ' + ($json.statusCode || 'unknown') + ')' }}",
            "Finger in frame": "={{ $json.body?.defects?.finger_in_frame || false }}",
            "Skew (degrees)": "={{ $json.body?.defects?.skew_degrees || 0 }}",
            "Blur level": "={{ $json.body?.defects?.blur || 'unknown' }}",
            "Glare present": "={{ $json.body?.defects?.glare || false }}",
            "Cutoff edges": "={{ $json.body?.defects?.cutoff_edges || false }}",
            "AI Analysis Report": "={{ $json.body?.rich_text_report || 'AI did not return a report. Please review manually.' }}",
            "Tags": "={{ $json.body?.semantic_tags || [] }}"
          }
        }
      },
      "name": "Airtable (failed)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1050,
        420
      ]
    },
    {
      "parameters": {
        "command": "mv \"{{$binary.data.filePath}}\" \"/data/processed/\""
      },
      "name": "Move to processed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "command": "mv \"{{$binary.data.filePath}}\" \"/data/failed/\""
      },
      "name": "Move to failed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        420
      ]
    }
  ],
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "AI Model Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API OK?": {
      "main": [
        [
          {
            "node": "Quality Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model Service": {
      "main": [
        [
          {
            "node": "API OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Router": {
      "main": [
        [
          {
            "node": "Airtable (passed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable (passed)": {
      "main": [
        [
          {
            "node": "Move to processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable (failed)": {
      "main": [
        [
          {
            "node": "Move to failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
