n8n/workflow-digitization-qc.json
{
  "name": "Collections Digitization QC Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "={{ $env.DATA_INCOMING_PATH || '/data/incoming' }}",
        "events": ["add"],
        "options": {}
      },
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "filePath",
              "value": "={{ $binary.data.filePath }}"
            },
            {
              "name": "safeFileName",
              "value": "={{ $binary.data.fileName.replace(/[^a-zA-Z0-9._-]/g, '_') }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Attach File Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.filePath }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has File Path?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-service:8000/predict",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.MODEL_API_TOKEN }}"
            }
          ]
        }
      },
      "name": "AI Model Service (try 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "API OK? (try 1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Retry Delay 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1040, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-service:8000/predict",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.MODEL_API_TOKEN }}"
            }
          ]
        }
      },
      "name": "AI Model Service (try 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1260, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "API OK? (try 2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 420]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Retry Delay 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1480, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-service:8000/predict",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.MODEL_API_TOKEN }}"
            }
          ]
        }
      },
      "name": "AI Model Service (try 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1700, 640]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "API OK? (try 3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 640]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.quality }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Quality Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "={{ $env.AIRTABLE_TABLE_NAME }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object ID": "={{ $binary.data.fileName.split('.')[0] }}",
            "File name": "={{ $binary.data.fileName }}",
            "File path or URL": "={{ $binary.data.filePath }}",
            "Status": "QC Passed",
            "Quality": "={{ $json.body.quality }}",
            "Quality score": "={{ $json.body.score }}",
            "Defects (text summary)": "={{ Array.isArray($json.body.reasons) ? $json.body.reasons.join(', ') : '' }}",
            "Finger in frame": "={{ $json.body.defects.finger_in_frame }}",
            "Skew (degrees)": "={{ $json.body.defects.skew_degrees }}",
            "Blur level": "={{ $json.body.defects.blur }}",
            "Glare present": "={{ $json.body.defects.glare }}",
            "Cutoff edges": "={{ $json.body.defects.cutoff_edges }}",
            "AI Analysis Report": "={{ $json.body.rich_text_report }}",
            "Tags": "={{ $json.body.semantic_tags }}"
          }
        }
      },
      "name": "Airtable (passed)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2140, 100]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "={{ $env.AIRTABLE_TABLE_NAME }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object ID": "={{ $binary.data.fileName.split('.')[0] }}",
            "File name": "={{ $binary.data.fileName }}",
            "File path or URL": "={{ $binary.data.filePath }}",
            "Status": "QC Failed – Needs Review",
            "Quality": "={{ $json.body?.quality || 'low' }}",
            "Quality score": "={{ $json.body?.score || 0 }}",
            "Defects (text summary)": "={{ Array.isArray($json.body?.reasons) ? $json.body.reasons.join(', ') : 'AI call failed (status ' + ($json.statusCode || 'unknown') + ')' }}",
            "Finger in frame": "={{ $json.body?.defects?.finger_in_frame || false }}",
            "Skew (degrees)": "={{ $json.body?.defects?.skew_degrees || 0 }}",
            "Blur level": "={{ $json.body?.defects?.blur || 'unknown' }}",
            "Glare present": "={{ $json.body?.defects?.glare || false }}",
            "Cutoff edges": "={{ $json.body?.defects?.cutoff_edges || false }}",
            "AI Analysis Report": "={{ $json.body?.rich_text_report || 'AI did not return a report. Please review manually.' }}",
            "Tags": "={{ $json.body?.semantic_tags || [] }}"
          }
        }
      },
      "name": "Airtable (failed)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [2140, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $env.USE_SHELL_MOVES || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Allow shell moves? (passed)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2360, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $env.USE_SHELL_MOVES || 'true' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Allow shell moves? (failed)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2360, 420]
    },
    {
      "parameters": {
        "command": "={{ 'mv -- ' + JSON.stringify($binary.data.filePath) + ' ' + JSON.stringify(($env.DATA_PROCESSED_PATH || '/data/processed') + '/') }}"
      },
      "name": "Move to processed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2560, 40]
    },
    {
      "parameters": {
        "command": "={{ 'mv -- ' + JSON.stringify($binary.data.filePath) + ' ' + JSON.stringify(($env.DATA_FAILED_PATH || '/data/failed') + '/') }}"
      },
      "name": "Move to failed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2560, 380]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "moveNote",
              "value": "Skipped move (USE_SHELL_MOVES=false)"
            }
          ]
        },
        "options": {}
      },
      "name": "Skip move (passed)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2560, 140]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "moveNote",
              "value": "Skipped move (USE_SHELL_MOVES=false)"
            }
          ]
        },
        "options": {}
      },
      "name": "Skip move (failed)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2560, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ $binary.data.fileName }}"
            },
            {
              "name": "filePath",
              "value": "={{ $binary.data.filePath }}"
            },
            {
              "name": "status",
              "value": "={{ $json.statusCode || 'unknown' }}"
            },
            {
              "name": "message",
              "value": "AI call failed or missing filePath"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1700, 820],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "statusCode",
              "name": "statusCode",
              "value": 500,
              "type": "number"
            },
            {
              "id": "body",
              "name": "body",
              "value": "={{ { quality: 'low', score: 0, reasons: ['File path missing'], defects: { finger_in_frame: false, skew_degrees: 0, blur: 'unknown', glare: false, cutoff_edges: false }, semantic_tags: [], rich_text_report: 'File path missing' } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Missing Path Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [820, 540]
    }
  ],
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Attach File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach File Path": {
      "main": [
        [
          {
            "node": "Has File Path?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File Path?": {
      "main": [
        [
          {
            "node": "AI Model Service (try 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Missing Path Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model Service (try 1)": {
      "main": [
        [
          {
            "node": "API OK? (try 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API OK? (try 1)": {
      "main": [
        [
          {
            "node": "Quality Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Delay 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Delay 1": {
      "main": [
        [
          {
            "node": "AI Model Service (try 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model Service (try 2)": {
      "main": [
        [
          {
            "node": "API OK? (try 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API OK? (try 2)": {
      "main": [
        [
          {
            "node": "Quality Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Delay 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Delay 2": {
      "main": [
        [
          {
            "node": "AI Model Service (try 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model Service (try 3)": {
      "main": [
        [
          {
            "node": "API OK? (try 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API OK? (try 3)": {
      "main": [
        [
          {
            "node": "Quality Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Router": {
      "main": [
        [
          {
            "node": "Airtable (passed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable (passed)": {
      "main": [
        [
          {
            "node": "Allow shell moves? (passed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable (failed)": {
      "main": [
        [
          {
            "node": "Allow shell moves? (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow shell moves? (passed)": {
      "main": [
        [
          {
            "node": "Move to processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip move (passed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow shell moves? (failed)": {
      "main": [
        [
          {
            "node": "Move to failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip move (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Failure": {
      "main": [
        [
          {
            "node": "Airtable (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Missing Path Payload": {
      "main": [
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
